body {
  background-image: radial-gradient(rgba(158, 126, 239, 0.722) 20% 40%, rgba(202, 221, 239, 0.817) 80% 30%);
  color: rgb(79, 41, 52);
}

input {
  background-color: rgba(4, 234, 255, 0.29);
}

button {
  background-color: #ffffffb6;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
}

.grid__wrapper {
  margin: 0 auto;
  max-width: 90%;
  margin-top: 20px;
  height: 60px;
  border: 1px solid black;

  display: flex;
}

.grid__roulette .grid__item {
  position: relative;
}

.grid__roulette .grid__item input{
  font-size: 24px;
}

.grid__roulette .grid__item._focus::before {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background-color: rgba(255, 5, 5, 0.304);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.grid__item {
  height: 100%;
  border: 1px solid black;
  flex: 1 1 50px;
}

.grid__item._current::after {
  content: '↑';
  font-size: 24px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -80%;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.grid__item._current input{
  background-color: rgba(20, 235, 70, 0.542);
}

.grid__item input{
  text-align: center;
  height: 100%;
  width: 100%;
}

.grid__arrow {
  flex: 0 0 50px;
}

.grid__arrow button {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;

  font-weight: bold;
  font-size: 27px;
}

.grid__arrow_left {}
.grid__arrow_right {}

.grid__roulette {
  flex: 1 1 100%;
  display: flex;
}

.grid__options {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 90%;
  font-size: 24px;
}

.grid__options div {
  padding: 5px 0;
}

.grid__insertWord {
  display: flex;
  flex-wrap: wrap;
}
.grid__insertWord input {
  display: inline-block;
  padding: 5px 10px;
  max-height: 100%;
  border: 1px solid black;
  font-size: 20px;
  flex: 1 1 auto;
  max-width: 250px;
  width: 100%;
  min-width: 70px;
}

.grid__insertWord button {
  border: 1px solid black;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
}
.grid__abc {
  display: flex;
  align-items: center;
}

.grid__abc b {
  font-size: 38px;
}

.grid__abc input{
  transform: translateY(3px);
  padding: 5px 10px;
  max-height: 100%;
  border: 1px solid black;
  font-size: 20px;
  flex: 1 1 auto;
  width: 100%;
  min-width: 70px;
  max-width: 315px;
}

.grid__abc .gridAbc__button {
  height: 100%;
  padding: 0;
}

.gridAbc__button button {
  border: 1px solid black;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  transform: translateY(7.5%);
}

.states-table {
  margin-top: 20px;
}

.states-table__wrapper {
  overflow-x: auto;
}

.states-table table {
  margin: 0 auto;
  margin-top: 20px;
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
}

.states-table thead *,
.states-table tbody tr * {
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

.states-table thead * {
  height: 100%;
}

.table-state {
  min-width: 120px;
  position: relative;
}

.table-state button{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.table-state button:hover {
  background-color: #aeaeae;
}

.table-state .table-state__content {
  padding: 0;
  border: none;
}

.table-state__content input{
  width: 100%;
  min-width: 50px;
  border: none;
}

.table-state__content input._wrong {
  background-color: rgba(255, 0, 0, 0.716);
  animation: wrongState 1.2s ease 0s alternate;
}

@keyframes wrongState {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-10px, 2px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(10px, 2px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.states-table tbody tr * {
  /* padding: 0; */
}

.states-table tbody td {
  
}

.states-table tbody .table-state__transitionCeil input{
  width: 100%;
  border: none;
}

.states-table tbody tr:last-child, .states-table tbody tr:last-child td {
  border: none;
  padding: 0;
}

.states-table tbody tr:last-child td button{
  width: 100%;
  height: 100%;
  display: block;
  height: 36px;
  border-top: none;
}

._table-modalWindow {
  background-color: rgb(255, 249, 249);
  position: absolute;
  border: 1px solid black;
  width: 30%;
  max-width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transform: translate(-99%, -10%);
  z-index: 6;
}

._table-modalWindow._active {
  transform: translate(-100%, -3%);
  opacity: 1;
  visibility: visible;
  transition: 0.1s ease 0s;
  transition-property: transform, opacity;
}

.table-modalWindow__option {
  padding: 5px 0;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.table-modalWindow__option:hover {
  background-color: rgb(208, 255, 181);
}

.table-modalWindow__option::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.table-modalWindow__option:not(:first-child) {
  border-top: 1px solid black;
}

.states-table thead tr th:last-child {
}

.states-table tbody tr:last-child td{
  position: relative;
}

/* .states-table__buttons {
  position: absolute;
  width: 94px;
  display: flex;
  flex-direction: column;
  left: 6.2%;
  transform: translateY(200%);
} */

/* .states-table__buttons button{
  padding: 5px;
} */

.states-table .word-table__input input {
  width: 80px;
  border: none;
}

.word-table__modalWindow._table-modalWindow_2 {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0;
  border-top: none;
}

.word-table__modalWindow._table-modalWindow_2._active {
  transition: none;
  transform: translate(0, 100%); 
}

._table-modalWindow_2 .table-modalWindow_2__option {
  border: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
._table-modalWindow_2 .table-modalWindow_2__option:not(:first-child) {
  border-top: 1px solid rgb(26, 205, 236);
}

.startBlock {
  margin-top: 50px;
}

@media (min-width: 900px) {
  .startBlock {
    margin-top: 50px;
    margin: 0 auto;
    max-width: 80%;
  }
}

.startBlock__menu {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.startBlock__menu button {
  display: block;
  height: 100%;
  flex: 1 1 auto;
  min-width: 60px;
  padding: 10px 0;
  border: 3px outset rgb(0, 156, 254);
}

.startBlock__menu button:disabled {
  cursor: default;
  opacity: 0.3;
}

.startBlock__menu button {}

.startBlock__start {

}
.startBlock__onStart {

}
.startBlock__stop {
}
.startBlock__step {

}
.startBlock__window {

}

.grid__insertWord button:last-child {

}

.options {
  margin-top: 40px;
}

.options__option {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.options__option:not(:last-child) {
  margin-bottom: 10px;
}

.options__option h3 {
  padding-right: 10px;
  display: flex;
  align-items: center;
  flex: 0 1 185px;
}

.options__option input {
  margin-right: 10px;
}

.options__option button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 140px;
}